<center>
    <br />
    <br />
    <form class="form-group" method="post">
        <div>
            <label>Hasta Adı</label>
            <input type="text" class="form-control" name="patientName" />
        </div>
        <div>
            <label>Hasta Soyadı</label>
            <input type="text" class="form-control" name="patientSurname" />
        </div>
        <div>
            <label>Telefon Numarası</label>
            <input type="text" class="form-control" name="phoneNumber" />
        </div>
        <div>
            <label>E-Posta</label>
            <input type="text" class="form-control" name="e_mail" />
        </div>
        <div>
            <label>Hasta Şifresi</label>
            <input type="text" class="form-control" name="patientPassword" />
        </div>

        <div style="margin-top:15px">
            <button class="btn btn-info">Kayıt Ol</button>
        </div>
    </form>
</center>
