<br />
<br />
<html>
<head>
    <title> Çağrı Hastanesi </title>
    <style type="text/css">
        body {
            background-image: url("bg.jpg");
            background-size: cover;
        }

        #metin {
            text-align: justify;
            width: 1000px;
            word-wrap: break-word;
            margin: 0px auto;
            background: white;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 15px;
            border-style: solid;
            border-width: 2px;
            border-color: #8fc1da;
            line-height: 200%;
        }
    </style>
</head>
<body>
    <div id="metin">
        <center>
            <h1 style="font-family:Trebuchet MS;font-size:48px;color:#328bbd;">HAKKINDA</h1>
            <h1 style="font-family:Trebuchet MS;font-size:48px;color:#e80729;">ÇAĞRI HASTANESİ</h1>
        </center>
        <font style="font-family:Arial;font-size:18px;color:black;">
            Çağrı Hastanesi, teknik altyapısı, tıbbi teknolojisi, tüm branşlarda uzman sağlık profesyonelleri ve multidisipliner yaklaşımı ile birçok uzmanlaşmış birimi bünyesinde barındırmaktadır.
            Onkolojiden Beyin Cerrahisine, Organ Naklinden Robotik Cerrahiye kadar birçok uzmanlaşmış birim bulunmaktadır.
        </font>
        <center><img src="~/Images/hospital.jpg"></center>
        <p>
            <font style="font-family:Arial;font-size:18px;color:#54a24b;">Bölümler</font>
            <br>● İç Hastalıkları
            <br>● Kulak Burun Boğaz
            <br>● Nöroloji
            <br>● Dermatoloji
            <br>● Psikiyatri
            <br>● Fizyoterapi
            <br>● Jinekoloji
            <br>● Covid-19
            <br>● Kardiyoloji
        </p>
    </div>
</body>
</html>
